QWidget#top{
    border-bottom:1px solid;
    background-color:#ffeecc;
}
QLabel#logo{
    border:1px solid;
    border-image:url(./resource/image/head.jpg) no-repeat;
}
QPushButton#box{
    border:1px solid #666666;
    background-color:rgba(124,124,124,80);
}
QPushButton#box:hover{
    background-color:rgba(94,94,94,100);
}
QPushButton#box:pressed{
    background-color:rgba(84,84,84,100);
}
