QWidget#back{
    border:1px solid;
    background-color:#fcf9ea;
}
QLabel#header{
    border:1px solid;
    background-color:#3c4245;
    color:#ffd369;
}
QPushButton#comeback{
    border:1px solid;
    background-color:#333643;
    color:#FFFFFF;
}
QPushButton#comeback:hover{
    background-color:#575B6E;
}
QPushButton#comeback:pressed{
    background-color:#202129;
}
QPushButton#next{
    border:1px;
    border-image: url('./resource/image/next.jpg') no-repeat;
}